{% if  portal.current_page != 'csat_survey' %}
	<!--<header class="banner">
      <div class="container">
		<div class="banner-wrapper page">
			<div class="banner-title">
				{{ portal | logo }}
              <h1 class="heading" style="color:#fff;text-transform:uppercase;">{{portal.name|h}}</h1>
			</div>
			<nav class="banner-nav">
				{{ portal | welcome_navigation }}
			</nav>
		</div>
</div>
	</header>-->
	<nav class="page-tabs">
      <div class="container">
	<div class="page no-padding">
		{% if portal.tabs.size > 0 %}
      <a href="/support/home">{{ portal | logo }}</a>
			<a data-toggle-dom="#header-tabs" href="#" data-animated="true" class="mobile-icon-nav-menu show-in-mobile"></a>
			<div class="nav-link" id="header-tabs">
				{% for tab in portal.tabs %}
					{% if tab.url %}
              <a href="{{tab.url}}" class="{% if tab.tab_type == portal.current_tab %}active{% endif %}" style="display: block;">{% if tab.label == "문제해결방법" %}해결책{% else %}{% if tab.label == "티켓(서비스접수)" %}티켓{% else %}{{ tab.label }}{% endif %}{% endif %}</a>
					{% endif %}
				{% endfor %}
              <a href="/support/discussions/42000029798" style="display: block;">Tips</a>
              <span class="p-l-b">{{ portal | welcome_navigation }}</span>
			</div>
		{% endif %}
		</div>
</div>
	</nav>

<!-- Search and page links for the page -->
{% if portal.current_tab and portal.current_tab != "home" %}
	<section class="hero_unit">	
		<!--<div class="page no-padding">-->
		<div class="container">
			<div class="ho_search">
				{% snippet search_form %}
			</div>
		</div>
      <div class="hc-nav hide-in-mobile {% if portal.contact_info %} nav-with-contact {% endif %}" style="display:none;">				
			{{ portal | helpcenter_navigation }}
		</div>
		<!--</div>-->
	</section>
{% endif %}
{% else %} 
	<header class="banner">
		<div class="banner-wrapper">
			<div class="banner-title">
				{{ portal | logo : true }}
				<h1 class="ellipsis heading">{{portal.name|h}}</h1>
			</div>
		</div>
	</header>
{% endif %}
