{% assign category_list_enabled = true %}
{% assign category_tree_enabled = true %}
{% assign recent_articles_enabled = true %}
{% assign popular_posts_enabled = true %}
{% assign recent_articles_and_posts_enabled = true %}
{% assign freshservice_enabled = false %}

<div class="container" data-home-page>
  <div class="container-inner">

    <!-- NOTICE: Forum -> FAQ  -->
    <a class="home-notice-wrapper home-notice-wrapper--top" id="home-notice" href="/ko/support/solutions/42000065654">
      <span class="home-notice-title">FAQ</span>
      <span class="home-notice-text">자주 묻는 질문들을 이 곳에서 확인해보고, 빠르게 해결 방법을 찾아보세요!</span>
    </a>
    
    <!-- CATEGORY LIST -->
    {% if category_list_enabled %}
      <div class="category-list-wrapper" id="category-list">
        <ul class="row category-list clearfix">
          {% for category in portal.solution_categories %}
            {% if category.folders_count > 0 %}
              {% case category.id %}
                 {% when 42000014004 %}                 
                 {% when 42000065654 %}               
                 {% when 42000064598 %}
                 <li class="column column--sm-6 column--md-3 category-list-item">
                   <a class="category-list-item__link" href="https://accuinsight.cloudz.co.kr" target="_blank">
                     <h2 class="h5 category-list-item__title">{{category.name}}</h2>
                     <p class="meta">{{category.description}}</p>
                   </a>
                 </li>  
                 {% when 42000064596 %}
                 <li class="column column--sm-6 column--md-3 category-list-item">
                   <a class="category-list-item__link" href="https://www.aibril.com/web/about/aibril/getAibril.do" target="_blank">
                     <h2 class="h5 category-list-item__title">{{category.name}}</h2>
                     <p class="meta">{{category.description}}</p>
                   </a>
                 </li>
                 {% when 42000064597 %}
                 <li class="column column--sm-6 column--md-3 category-list-item">
                   <a class="category-list-item__link" href="https://www.aibril.com/web/solution/getMarketDetail.do?solSeq=17" target="_blank">
                     <h2 class="h5 category-list-item__title">{{category.name}}</h2>
                     <p class="meta">{{category.description}}</p>
                   </a>
                 </li>
                 {% when 42000064599 %}
                 <li class="column column--sm-6 column--md-3 category-list-item">
                   <a class="category-list-item__link" href="https://www.cloudz.co.kr/product/digitalToken" target="_blank">
                     <h2 class="h5 category-list-item__title">{{category.name}}</h2>
                     <p class="meta">{{category.description}}</p>
                   </a>
                 </li>
              {% else %}
                <li class="column column--sm-6 column--md-3 category-list-item">
                  <a class="category-list-item__link" href="{{category.url}}">
                    <h2 class="h5 category-list-item__title">{{category.name}}</h2>
                    <p class="meta">{{category.description}}</p>
                  </a>
                </li>
              {% endcase %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <!-- / CATEGORY LIST -->

    <!-- NOTICE: Forum -> Announcements -->
    <a class="home-notice-wrapper" id="home-notice" href="/support/discussions/42000006845">
      <span class="home-notice-title">공지사항</span>
      <span class="home-notice-text">Support Portal 에서 제공하는 공지사항</span>
    </a>
    
    {% if recent_articles_enabled %}
    {% if portal.recent_articles.size > 0 %}
      <div class="recent-articles" id="recent-articles">
        <h2 class="recent-articles__title text-center">Recent articles</h2>
        <ul class="row articles recent-articles__list">
          {% for article in portal.recent_articles limit:4 %}
            <li class="column column--sm-6 articles__item recent-articles-item">
              <a class="articles__link" href="{{ article.url }}">
                <span class="articles__icon block__icon">
                  <?xml version="1.0" encoding="iso-8859-1"?> 
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 296.999 296.999" xml:space="preserve">
                     <g>
                        <g>
                           <g>
                              <path d="M45.432,35.049c-0.008,0-0.017,0-0.025,0c-2.809,0-5.451,1.095-7.446,3.085c-2.017,2.012-3.128,4.691-3.128,7.543 v159.365c0,5.844,4.773,10.61,10.641,10.625c24.738,0.059,66.184,5.215,94.776,35.136V84.023c0-1.981-0.506-3.842-1.461-5.382 C115.322,40.849,70.226,35.107,45.432,35.049z"/>
                              <path d="M262.167,205.042V45.676c0-2.852-1.111-5.531-3.128-7.543c-1.995-1.99-4.639-3.085-7.445-3.085c-0.009,0-0.018,0-0.026,0 c-24.793,0.059-69.889,5.801-93.357,43.593c-0.955,1.54-1.46,3.401-1.46,5.382v166.779 c28.592-29.921,70.038-35.077,94.776-35.136C257.394,215.651,262.167,210.885,262.167,205.042z"/>
                              <path d="M286.373,71.801h-7.706v133.241c0,14.921-12.157,27.088-27.101,27.125c-20.983,0.05-55.581,4.153-80.084,27.344 c42.378-10.376,87.052-3.631,112.512,2.171c3.179,0.724,6.464-0.024,9.011-2.054c2.538-2.025,3.994-5.052,3.994-8.301V82.427 C297,76.568,292.232,71.801,286.373,71.801z"/>
                              <path d="M18.332,205.042V71.801h-7.706C4.768,71.801,0,76.568,0,82.427v168.897c0,3.25,1.456,6.276,3.994,8.301 c2.545,2.029,5.827,2.78,9.011,2.054c25.46-5.803,70.135-12.547,112.511-2.171c-24.502-23.19-59.1-27.292-80.083-27.342 C30.49,232.13,18.332,219.963,18.332,205.042z"/>
                           </g>
                        </g>
                     </g>
                  </svg>
                </span>
                {{ article.title | h }}
              </a>
              <p class="recent-articles-item__excerpt meta">
                {{ article.body_plain | h |truncate:80 }}
              </p>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endif %}

  {% if freshservice_enabled == false and portal.has_forums and popular_posts_enabled %}
    {% if portal.recent_popular_topics.size > 0 %}
    <div class="recent-articles" id="popular-posts">
        <h2 class="recent-articles__title">Popular posts</h2>
        <ul class="row articles recent-articles__list">
          {% for topic in portal.recent_popular_topics limit:4 %}
            <li class="column column--sm-6 articles__item recent-articles-item">
                <a class="articles__link" href="{{topic.url}}">
                    <span class="block__icon block__icon--font fa fa-comments"></span> 
                    {{topic.title | h}}
                  </a>
                  <p class="recent-articles-item__excerpt meta">
                    {{topic.forum.name}}
                  </p>
            </li>
          {% endfor %}
        </ul>
    </div>
    {% endif %}
  {% endif %}
  </div>
</div>

